.emailPopup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nes-input {
  width: 50vw;
}

.nes-textarea {
  width: 50vw;
  height: 50vh;
}

.emailPopup .nes-border{
  margin-bottom: 10px;
}