header {
  position: fixed;
  width: 100vw;
  height: 100px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: row;
  border-bottom: 5px grey solid;
  background: lavender;
  z-index: 2;
  justify-content: space-between;
}

header > div {
  height: 100%;
}

header .headerText {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: flex-end;
}

header .headerText > div{
  display: flex;
  align-items: center;
}

header .headerText > div > div{
  display: flex;
  align-items: center;
}

header .headerText div a{
  margin-left: 1vw;
}

header div.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}

header div.column:nth-of-type(2) {
  text-align: right;
  align-items: flex-end;
}

header p {
  margin: 0px;
}

header div img {
  height: 100%;
}

header h1, header h3 {
  margin: 0;
  margin-left: 10px;
}