.repository {
  width: 100%;
}

.repoHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.repoHeader span {
  display: flex;
  justify-content: flex-end;
}

.repoHeader span h3 {
  margin: 0;
}

.language {
  text-align: right;
}

.repoHeader button {
  padding: 0px;
}