@import '~bulma';
@font-face {
  font-family: opensans;
  src: url(./fonts/OpenSans-Regular.ttf);
}

button {
  border-radius: 0;
}

body, button {
  font-family: opensans;
}

@media(max-width: $tablet) {
  .columns.is-column-mobile {
    flex-direction: column;
    align-items: center !important;

    .image {
      height: 128px;
      width: 128px;
    }

    div {
      text-align: center !important;
    }

    div.is-flex {
      align-items: center !important;
    }
  }
}