div.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  padding: 10%;
  padding-top: 100px;
}

.is-rounded {
  border-image-repeat: initial !important
}

div.content > section {
  width: 100%;
  margin-top: 50px;
}